.adress {
  margin-top: 20px;
  margin-bottom: 60px;
  @media screen and(min-width: 1200px) {
    margin-bottom: unset;
  }
}

.adress__list {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;

  @media screen and(min-width: 1200px) {
    align-items: flex-start;
    width: 231px;
  }
}

.adress__item {
  &:not(:last-child) {
    margin-bottom: 9px;
  }
}

.adress__location {
  font-style: normal;
  font-size: 14px;
  line-height: 1.7;
  text-align: center;
  color: $white-color;

  @include transition(color);

  &:hover,
  &:focus {
    color: $blue-text-color;
  }
}

.adress__contact {
  font-style: normal;
  font-size: 14px;
  line-height: 1.7;

  color: $adress-grey-text;

  @include transition(color);

  &:hover,
  &:focus {
    color: $blue-text-color;
  }
}