.adress {
  margin-top: 20px;
}

.adress__item:not(:last-child) {
  margin-bottom: 9px;
}

.adress__location {
  font-style: normal;
  font-size: 14px;
  line-height: 1.7;

  color: $white-color;

  @include transition(color);

  &:hover,
  &:focus {
    color: $blue-text-color;
  }
}

.adress__contact {
  font-style: normal;
  font-size: 14px;
  line-height: 1.7;

  color: $adress-grey-text;

  @include transition(color);

  &:hover,
  &:focus {
    color: $blue-text-color;
  }
}