.contacts__link {
  font-weight: 500;
  font-size: 12px;
  line-height: 1.16;  
  letter-spacing: 0.02em;

  color: inherit;

  display: inline-flex;
  align-items: center;

  @include transition(color);

  &--mail {
    padding-top: 21px;
    padding-bottom: 10px;
  }

  &--tel {
    padding-bottom: 21px;
  }

  @media screen and(min-width: 1200px) {
    padding: 32px 0;
    font-size: 14px;
    line-height: 1.1;
  }

  &:hover,
  &:focus {
    color: $blue-text-color;
  }
}

.contacts__icon {
  margin-right: 8px;
  fill: currentColor;

  @include transition(fill);

  @media screen and(min-width: 1200px) {
    margin-right: 10px;
  }
}

.contacts {
  display: none;
  
  @media screen and(min-width: 768px) {
    width: 140px;
    display: flex;
    flex-direction: column;
    margin-left: auto;
  }
  @media screen and(min-width: 1200px) {
    flex-direction: row;
    width: auto;
  }
}

.contacts__item {
  &:not(:last-child) {
    margin-right: 50px;
  }
}
