.social {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-bottom: 60px;
  @media screen and(min-width: 1200px) {
    padding-top: 12px;
    align-items: flex-start;
    margin-left: 70px;
    margin-bottom: unset;
  }
}

.social__list {
  display: flex;
}

.social__item {
  &:not(:last-child) {
    margin-right: 10px;
  }
}

.social__link {
  display: block;
  width: 44px;
  height: 44px;
  padding: 12px 12px;
  border-radius: 50%;

  fill: $white-color;
  background-color: rgba(255, 255, 255, 0.1);

  @include transition(background-color);

  &:hover,
  &:focus {
    background-color: $blue-text-color;
  }
}

.social__title {
  font-weight: 700;
  font-size: 14px;
  line-height: 1.1;
  text-transform: uppercase;

  color: $white-color;

  margin-bottom: 20px;
}
