body {
  font-family: 'Roboto', sans-serif;
  font-weight: 400;
  font-size: 14px;
  line-height: 1.2;
  letter-spacing: 0.03em;

  background-color: rgba(255, 255, 255, 1);
  color: $grey-text-color;
}

.container {
  width: 100%;
  padding: 0 15px;
  margin: 0 auto;

  @media screen and(min-width: 480px) {
    max-width: 480px;
  }
  @media screen and(min-width: 768px) {
    max-width: 768px;
  }
  @media screen and(min-width: 1200px) {
    max-width: 1200px;
  }
}
